<div class="m-3 col-sm-12">
    <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
        <div class="form-group row">
           <div class="col-sm-3">
              <label>Receipe Name :</label>
           </div> 
           <div class="col-sm-6">
              <input type="text" class="form-control"   formControlName="receipeName">
           </div>  
          </div>
          <div class="form-group row">
              <div class="col-3">
                  <label>Image Url :</label>
              </div>
              <div class="col-6">
                  <input type="text" class="form-control" formControlName="imageUrl">
              </div> 
          </div>
          <div class="form-group row">
              <div class="col-3">
                  <label>Description :</label>
              </div>  
              <div class="col-6">
                <input type="text"  class="form-control" formControlName="description">
              </div>   
          </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
 </form>
</div>